/*Resets*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}


@import "../partials/colors";
@import "../partials/header";
@import "../partials/layout";


body {
    font-family: Kanit;
    position: relative;
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-color: $primary-color;
}


button {
    cursor: pointer;
    font-family: Kanit;
}

svg {
    width: 100%;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}


