header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header-logo {
    margin-left: 280px;

    img {
        width: 100px;
    }
}


.header-icons {
    display: flex;
    gap: 14px;
}

i {
    color: white;
}

.header-icons a:hover {
    i {
        color: aqua;
        animation: translateY 0.8s infinite alternate;
    }
}

.header-button {
    color: white;
    padding: 8px 30px;
}

.header-button:hover {
    color: aqua;
    transition: color 1s;
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-8px) scale(1);
    }
}

@media screen and (max-width: 768px) {
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            margin-bottom: 19px;
        }
    }

    .header-logo img {
        width: 140px;
        margin-right: 270px;
    }

    .header-button {
        display: none;
    }

}