.container {
    max-width: 1440px;
    margin: 0 auto;
}

// BG - HOME

.bg-home {
    position: relative;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), black), url("../assets/img/capa.JPG");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}

// HERO

.hero {
    color: white;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 60px;
    }

}

.button-agendar {
    padding: 14px 28px;
    color: aqua;
    background-color: rgb(77, 77, 77);
    border: 0;
    font-size: 25px;
    font-weight: 600;
    margin: 24px 0;
}

.button-agendar:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.07);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        min-height: 60vh;

        h1 {
            font-size: 40px;
            padding: 0 14px;
            width: 100%;
        }
    }

    .button-agendar {
        text-align: center;
        font-size: 20px;
    }
}

//SOBRE

.sobre {
    background-color: black;
    overflow: hidden;
    color: white;
}

.sobre-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;


    img {
        max-width: 570px;
    }
}

.sobre-content div {
    flex: 1;
}

.sobre-descricao {
    h2 {
        font-size: 38px;
        margin-bottom: 24px;
    }

    p {
        line-height: 30px;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .sobre-content {
        flex-direction: column;
    }

    h2 {
        display: flex;
        justify-content: center;
    }

    p {
        text-align: center;
    }
}

//---------------------------------------------------------
//AULAS
.aulas {
    background-color: aqua;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 14px;
}

.aulas-content {

    h2 {
        background-color: aqua;
        text-align: center;
        font-size: 40px;
        margin-bottom: 40px;
    }
}

.treinos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.treino {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;

    overflow: hidden;

    img {
        width: 100%;
        max-width: 354px;
        padding: 30px;
        transition: transform 0.8s;

    }
}

.treino img:hover {
    transform: scale(1.10);

}

.descricao {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 14px;
    text-align: center;
    font-size: 30px;
    font-family: Kanit;
    color: aliceblue;
    margin-top: -60px;
    margin-bottom: 30px;
}

.botao-info {
    color: aliceblue;
    background-color: rgb(73, 73, 73);
    height: 60px;
    padding: 4px 8px;
    cursor: default;
}

@media screen and (max-width: 768px) {
    .treinos {
        display: flex;
        flex-direction: column;

        img {
            width: 300px;
            padding: 30px;
        }
    }

    .descricao {
        font-size: 23px;
    }
}

//---------------------------------------
//FOOTER

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 34px 0;
    gap: 54px;

    img {
        width: 200px;
    }
}

.footer-icons {
    display: flex;
    gap: 8px;
}

//----------------------------------------
//BOTAO FLUTUANTE

.btn-flutuante {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;

    button {
        max-width: 200px;
        height: 50px;
        transition: background-color 0.8s ease;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border-color: rgb(0, 247, 255);
        text-align: center;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
    }

    button:hover {
        background-color: rgb(53, 53, 53);
        color: rgb(255, 255, 255);
    }

}




//-----------------------------------------
//Configuração AOS animation

[data-aos][data-aos][data-aos].aos-animate {
  pointer-events: auto; /* clicável quando visível */
}

[data-aos]:not(.aos-animate) {
  pointer-events: none; /* não clicável quando invisível */
}